.navbar-light .navbar-brand {
  font-size: 22px;
  font-weight: 900;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  
  }

.navbar-light .navbar-nav .nav-link{
  font-size : initial;
}

.navbar-nav {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
a{
  text-decoration: none;
}

a:focus {
  box-shadow: none;
}