.navbar-light .navbar-brand {
    color: #2f65c6;
    font-size: 25px;
    font-weight: 500;
  }

.navbar-light .navbar-nav .nav-link{
  font-size : initial;
}

.navbar a {
  text-decoration: none;
}
