<!doctype html>
<html lang="en">
  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
  <title>COVID-19 outbreak in india</title>
  <meta name="description" content=Data Visualisation for the COVID-19 virus outbreak in India.>
  <meta name="keywords" content=COVID-19 "India" , "COVID 19 updates">
  <meta property="og:title" content=COVID-19 outbreak in India>
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="og-image.png">
  <meta property="og:description"
    content="A collection of useful data visualisation of the Corona virus outbreak in India.">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="#">
  <meta name="twitter:creator" content="#">
  <meta name="twitter:title" content="COVID-19 India 🇮🇳 Dashboard">
  <meta name="twitter:image" content="#">
  <meta name="author" content="Vam & Astha">
  <meta property="twitter:description"
    content="A collection of useful data visualisation of the Corona virus outbreak in India.">

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
  <script src="node_modules/chart.js/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42396821-5"></script>



  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-42396821-5');

  </script>

</head>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><img src="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/india.png" width="30" height="30" alt=""> COVID19</a>
  <button class="navbar-toggler" type="button" (click)="toogleNavbar()" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars fa-1x"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-center" [ngClass]="{'show':navbarOpen}" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home </a>
      <a class="nav-item nav-link" routerLink="/helpline" routerLinkActive="active">Helpline</a>
      <a class="nav-item nav-link" routerLink="/testcentre" routerLinkActive="active">Test Centres</a>
      <a class="nav-item nav-link" routerLink="/sources" routerLinkActive="active">Sources</a>
    </div>
  </div>
</nav>
</html>
