<!doctype html>
<html lang="en">
<link rel="shortcut icon" sizes="16x16" href="src\favicon.png" type="image/png" />

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><img src="..\..\assets\favicon.svg" width="30" height="30" alt=""></a>
  <button class="navbar-toggler" style="border: none;" type="button" (click)="toogleNavbar()" data-toggle="collapse" data-target="#navbarNavAltMarkup"  aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-center" [ngClass]="{'show':navbarOpen}" id="navbarNavAltMarkup">
    <div class="navbar-nav" (click)="toogleNavbar()">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home </a>
      <a class="nav-item nav-link" routerLink="/worldwide" routerLinkActive="active">WorldWide </a>
      <a class="nav-item nav-link" routerLink="/helpline" routerLinkActive="active">Helpline</a>
      <a class="nav-item nav-link" routerLink="/testcentre" routerLinkActive="active">Test Centres</a>
      <a class="nav-item nav-link" routerLink="/sources" routerLinkActive="active">Sources</a>
    </div>
  </div>
</nav>

</html>
