<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>COVID-19 outbreak in india</title>
  <meta name="description" content=Data Visualisation for the COVID-19 virus outbreak in India.>
  <meta name="keywords" content=COVID-19 "India" , "COVID 19 updates">
  <meta property="og:title" content=COVID-19 outbreak in India>
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="og-image.png">
  <meta property="og:description"
    content="A collection of useful data visualisation of the Corona virus outbreak in India.">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="#">
  <meta name="twitter:creator" content="#">
  <meta name="twitter:title" content="COVID-19 India 🇮🇳 Dashboard">
  <meta name="twitter:image" content="#">
  <meta name="author" content="Vam & Astha">
  <meta property="twitter:description"
    content="A collection of useful data visualisation of the Corona virus outbreak in India.">

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
  <script src="node_modules/chart.js/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="src/js/c.js"></script>
</head>

<nav class="navbar navbar-expand-sm bg-light">
  <!-- Brand -->
  <a class="logo navbar-brand" href="#">COVID19 India</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/testcenter" routerLinkActive="active">Test Centres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/helpline" routerLinkActive="active">Helpline</a>
      </li>
    </ul>
  </div>
</nav>
