<div class="row" style="margin-top: 5px;" *ngIf = 'userstate'>

  <div class="col-sm-12 col-md-6 col-lg-3 ">
    <div class="card">
      <div class="card-header">
        <div class="card-title ">
          <h6>
            <b>CONFIRMED CASES</b>
          </h6>
        </div>
      </div>
      <div class="card-body status-confirmed">
        <div class="cases-container">
          <h2 class="case">{{userstate.confirmed}}</h2>
          <span class="info" style="color:red">+{{userstate.deltaconfirmed}} Today</span>

        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h6>
            <b>ACTIVE CASSES</b>
          </h6>
        </div>
      </div>
      <div class="card-body status-hospitalized">
        <div class="cases-container">
          <h2 class="case">{{userstate.active}}
          </h2>
          <span class="info" style="color: orangered;"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h6>
            <b>RECOVERED CASES</b>
          </h6>
        </div>
      </div>
      <div class="card-body status-recovered">
        <div class="cases-container">
          <h2 class="case">{{userstate.recovered}}</h2>
          <span class="info" style="color: green;">{{userstate.recovered *100 / userstate.confirmed| number : '1.1-2'}}%
            of total
            cases</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h6>
            <b>DEATHS</b>
          </h6>
        </div>
      </div>
      <div class="card-body status-icu">
        <div class="cases-container">
          <h2 class="case">{{userstate.deaths}}</h2>
          <span class="info" style="color: darkred;">{{userstate.deaths *100 /userstate.confirmed| number : '1.1-2'}}%
            of total
            cases</span>
        </div>
      </div>
    </div>
  </div>

  <app-statemap [UserState] = "UserData.region"></app-statemap>


</div>
