body {
    overflow: hidden;
  }
  .ticker {
    display: flex;
  }
  .ticker__list {
    display: flex;
    margin-top: 10px;
    animation: ticker 15s infinite linear;
  }
  .ticker:hover .ticker__list {
    animation-play-state: paused;
  }
  .ticker__item {
    margin-right: 20px;
  }
  @-moz-keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }
  @-o-keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }
  