
 <ngx-slick-carousel class="carousel" 
 #slickModal="slick-carousel" 
 [config]="slideConfig" 
 (init)="slickInit($event)"
 (breakpoint)="breakpoint($event)"
 (afterChange)="afterChange($event)"
 (beforeChange)="beforeChange($event)" *ngIf = "News">
<div ngxSlickItem class="slide" *ngFor="let data of News.data" routerLink="/news">
  <div class="blog-card" style="height: 120px; margin-right: 10px;">
    <div class="meta">
      <div class="photo" style="background-image: url({{data.imageUrl}})"></div>
    </div>
    <div class="description">
      <p style="margin:0px; font-size: 12px;">{{data.title}}</p> 
    </div>
  </div>
</div>

</ngx-slick-carousel>