<div class="content">
  <div style="flex:1;padding:1em">
    <h2 class="text-center" style="margin:0.5em 0 1em">Test Centres across the Country</h2>
    <div class="container">
      <div class="columns my-2">
        <div class="column col-12">
          <div style="margin-bottom:15px">
            <h5>Andhra Pradesh</h5>
            <ul style="margin-bottom:5px">
              <li>Sri Venkateswara Institute of Medical Sciences in Tirupati</li>
              <li>GMC, Anantapur</li>
              <li>Siddhartha Medical College, Vijayawada</li>
              <li>Ranagaraya Medical College, Kakinada</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Andaman and Nicobar</h5>
            <ul style="margin-bottom:5px">
              <li>Regional Medical Research Centre, Port Blair</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Assam</h5>
            <ul style="margin-bottom:5px">
              <li>Gauhati Medical College, Guwahati</li>
              <li>Regional Medical Research Centre, Dibrugarh</li>
              <li>Silchar Medical College, Silchar</li>
              <li>Jorhat Medical College, Jorhat</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Bihar</h5>
            <ul style="margin-bottom:5px">
              <li>Rajendra Memorial Research Institute of Medical Sciences, Patna</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Chandigarh</h5>
            <ul style="margin-bottom:5px">
              <li>Post Graduate Institute of Medical Education &amp; Research</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Chhattisgarh</h5>
            <ul style="margin-bottom:5px">
              <li>AIIMS, Raipur</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Delhi</h5>
            <ul style="margin-bottom:5px">
              <li>AIIMS</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Gujarat</h5>
            <ul style="margin-bottom:5px">
              <li>BJ Medical College, Ahmedabad</li>
              <li>M P Shah Government Medical College, Jamnagar</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Haryana</h5>
            <ul style="margin-bottom:5px">
              <li>Pt B D Sharma Post Graduate Institute of Medical Sciences, Rohtak</li>
              <li>BPS Government Medical College, Sonipat</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Himachal Pradesh</h5>
            <ul style="margin-bottom:5px">
              <li>Indira Gandhi Medical College, Shimla</li>
              <li>Dr Rajendra Prasad Government Medical College, Kangra, Tanda</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Jammu-Kashmir</h5>
            <ul style="margin-bottom:5px">
              <li>Sher-I-Kashmir Institute of Medical Sciences, Srinagar</li>
              <li>Government Medical College, Jammu</li>
              <li>Government Medical College, Srinagar</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Jharkhand</h5>
            <ul style="margin-bottom:5px">
              <li>MGM Medical College, Jamshedpur</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Karnataka</h5>
            <ul style="margin-bottom:5px">
              <li>Bangalore Medical College &amp; Research Institute, Bengaluru</li>
              <li>National Institute of Virology Field Unit, Bengaluru</li>
              <li>Mysore Medical College &amp; Research Institute, Mysore</li>
              <li>Hassan Institute of Medical Sciences, Hassan</li>
              <li>Shimoga Institute of Medical Sciences, Shivamoga</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Kerala</h5>
            <ul style="margin-bottom:5px">
              <li>National Institute of Virology Field, Kerala Unit</li>
              <li>Government Medical College, Thriuvananthapuram</li>
              <li>Government Medical College, Kozhikhode</li>
              <li>Government Medical College, Thrissur</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Madhya Pradesh</h5>
            <ul style="margin-bottom:5px">
              <li>AIIMS, Bhopal</li>
              <li>National Institute of Research in Tribal Health (NIRTH), Jabalpur</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Maharashtra</h5>
            <ul style="margin-bottom:5px">
              <li>Indira Gandhi Government Medical College, Nagpur</li>
              <li>Kasturba Hospital for Infectious Diseases, Mumbai</li>
              <li>NIV Mumbai Unit</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Manipur</h5>
            <ul style="margin-bottom:5px">
              <li>JN Institute of Medical Sciences Hospital, Imphal</li>
              <li>Regional Institute of Medical Science, Imphal</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Meghalaya</h5>
            <ul style="margin-bottom:5px">
              <li>North Eastern Indira Gandhi Institute of Health and Medical Sciences, Shillong</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Odisha</h5>
            <ul style="margin-bottom:5px">
              <li>Regional Medical Research Centre, Bhubaneswar</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Puducherry</h5>
            <ul style="margin-bottom:5px">
              <li>Jawaharlal Institute of Postgraduate Medical Education &amp; Research, Puducherry</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Punjab</h5>
            <ul style="margin-bottom:5px">
              <li>Government Medical College, Patiala</li>
              <li>Government Medical College, Amritsar</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Rajasthan</h5>
            <ul style="margin-bottom:5px">
              <li>Sawai Man Singh Hospital, Jaipur</li>
              <li>Dr S N Medical College, Jodhpur</li>
              <li>Jhalawar Medical College, Jhalawar</li>
              <li>SP Medical College, Bikaner</li>
              <li>RNT Medical college, Udaipur</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Tamil Nadu</h5>
            <ul style="margin-bottom:5px">
              <li>King’s Institute of Preventive Medicine &amp; Research, Chennai</li>
              <li>Government Medical College, Theni</li>
              <li>Tirunelveli Medical College, Tirunelveli</li>
              <li>Government Medical College, Thiruvarur</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Telangana</h5>
            <ul style="margin-bottom:5px">
              <li>Gandhi Medical College, Secunderabad</li>
              <li>Osmania Medical college, Hyderabad</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Tripura</h5>
            <ul style="margin-bottom:5px">
              <li>Government Medical College, Agartala</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Uttar Pradesh</h5>
            <ul style="margin-bottom:5px">
              <li>King George Medical University, Lucknow</li>
              <li> Institute of Medical Sciences, Banaras Hindu University, Varanasi</li>
              <li>Jawaharlal Nehru Medical College, Aligarh</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>Uttarakhand</h5>
            <ul style="margin-bottom:5px">
              <li>Government Medical College, Haldwani</li>
            </ul>
          </div>
          <div style="margin-bottom:15px">
            <h5>West Bengal</h5>
            <ul style="margin-bottom:5px">
              <li>National Institute of Cholera and Enteric Diseases, Kolkata</li>
              <li>IPGMER, Kolkata</li>
            </ul>
          </div>
        </div>
      </div>
    </div><span>Sources: </span><a
      href="https://icmr.nic.in/sites/default/files/upload_documents/COVID_19_Testing_Laboratories.pdf"
      target="_blank">Indian Council of Medical Research</a>
  </div>
</div>
