<div class="container">
  <div class="columns flex-centered my-2">
    <div class="column col-sm-12 col-8">
      <h5>Coronavirus Outbreak Worldwide</h5>
    </div>
    <div class="column col-sm-12 col-4">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 ">
      <div class="card">
        <div class="card-header">
          <div class="card-title ">
            <h6><b>CONFIRMED CASES</b></h6>
          </div>
        </div>
        <div class="card-body status-confirmed">
          <div class="cases-container">
            <h2 class="case">{{WorldData.cases}}</h2>
            <span class="info"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h6><b>COUNTRIES/REGIONS INFECTED</b></h6>
          </div>
        </div>
        <div class="card-body status-hospitalized">
          <div class="cases-container">
            <h2 class="case">{{CountryData.length}}</h2>
            <span class="info"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h6><b>RECOVERED CASES</b></h6>
          </div>
        </div>
        <div class="card-body status-recovered">
          <div class="cases-container">
            <h2 class="case">{{WorldData.recovered}}</h2>
            <span class="info"></span>
          </div>
        </div>
      </div>
    </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h6><b>DEATHS</b></h6>
        </div>
      </div>
      <div class="card-body status-died">
        <div class="cases-container">
          <h2 class="case">{{WorldData.deaths}}</h2><span class="info"></span>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row" style="margin-top: 5px;">
    <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title h6">Top 10 Countries</div>
          <div class="card-subtitle text-gray mt-1">30th Jan 2020 to Today</div>
        </div>
        <div class="card-body">
          <app-worldwidebar></app-worldwidebar>
        </div>
      </div>
    </div>
  </div>
</div>
