<div class="row" *ngIf="essentialData">
  <select (change)="OnStateSelect($event)">
    <option>All States</option>
    <option *ngFor = "let option of states">{{option}}</option>
  </select>
  <select (change)= "OnCitySelect($event)">
    <option>All Cities</option>
    <option *ngFor ="let option of cities">{{option}}</option>
  </select>
  <select>
    <option>All Categories</option>
    <option *ngFor ="let option of categories">{{option}}</option>
  </select>
</div>
<div class="row">
  <table class="table">
    <th>City</th>
    <th>Category</th>
    <th>Organization</th>
    <th>Description</th>
    <th>Phone</th>
  </table>
</div>

