<div style="flex:1;padding:1em">
  <h2 class="text-center" style="margin:0.5em 0 1em">Sources</h2>
  <div style="margin-bottom:0.5em">We refer these sources for the Covid-19 data in India. We then re-verify it with
    Government sites.</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Source Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><a href="https://www.mohfw.gov.in/" target="_blank">Ministry of Health and Family Welfare Government of
            India</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td><a
            href="https://www.indiatoday.in/india/story/coronavirus-cases-in-india-covid19-states-cities-affected-1653852-2020-03-09"
            target="_blank">Daily trends by India Today</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td><a href="https://infographics.channelnewsasia.com/covid-19/map.html" target="_blank">Realtime feed from
            Channelnewsasia</a></td>
      </tr>
      <tr>
        <td>4</td>
        <td><a href="https://www.kff.org/global-health-policy/fact-sheet/coronavirus-tracker/" target="_blank">COVID-19
            Coronavirus Tracker from kff.org</a></td>
      </tr>
      <tr>
        <td>5</td>
        <td><a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
            target="_blank">COVID-19 Global Cases by Johns Hopkins CSSE</a></td>
      </tr>
      <tr>
        <td>6</td>
        <td><a href="https://www.worldometers.info/coronavirus/" target="_blank">Worldometers Coronavirus Cases</a></td>
      </tr>
      <tr>
        <td>7</td>
        <td><a href="https://economictimes.indiatimes.com/topic/confirmed-cases" target="_blank">Economictimes ET</a>
        </td>
      </tr>
      <tr>
        <td>8</td>
        <td><a href="https://timesofindia.indiatimes.com/" target="_blank">Timesofindia</a></td>
      </tr>
      <tr>
        <td>9</td>
        <td><a href="https://twitter.com/" target="_blank">Twitter hashtags and confirmed Twitter updates</a></td>
      </tr>
      <tr>
        <td>10</td>
        <td><a href="https://ncov2019.live/" target="_blank">ncov 2019 Live</a></td>
      </tr>
    </tbody>
  </table>
</div>

