<div class="content">
  <div style="flex:1;padding:1em">
    <h2 class="text-center" style="margin:0.5em 0 1em">Helpline</h2>
    <div style="margin-bottom:1em;line-height:1.5">Maximizing the efforts to contain the spread of novel Corona Virus
      (Covid-19),<a href="https://www.mohfw.gov.in/" target="_blank"><strong> Ministry of Health &amp; Family Welfare
        </strong></a>has provided these helpline numbers of <a href="#states">States </a> &amp;
      <a href="#union_territories">Union Territories (UTs)</a>.</div>
    <div style="display:flex;align-items:center;flex-direction:column">
      <div style="margin-bottom:1em">
        <div style="margin-bottom:0.5em;text-align:center">National Helpline Number</div>
        <div style="text-align:center;font-size:18px"><a target="_blank" href="tel:1075">1075</a><span>  |  </span><a
            target="_blank" href="tel:1800-112-545">1800-112-545</a></div>
      </div>
      <div style="margin-bottom:1em">
        <div style="margin-bottom:0.5em;text-align:center">Central Helpline Number</div>
        <div style="text-align:center;font-size:18px"><a target="_blank"
            href="tel:+91-11-23978043">+91-11-23978043</a><span>  |  </span><a target="_blank"
            href="tel:+91-11-23978046">+91-11-23978046</a></div>
      </div>
      <div id="states" style="margin-bottom:1em">
        <div style="margin-bottom:0.5em;text-align:center">Central Helpline Email</div>
        <div style="text-align:center;font-size:18px"><a target="_blank"
            href="mailto:ncov2019@gmail.com">ncov2019@gmail.com</a></div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:10%">Sr.No</th>
          <th style="width:40%">State</th>
          <th style="width:50%">Helpline Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Andhra Pradesh</td>
          <td><a target="_blank" href="tel:0866-2410978">0866-2410978</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Arunachal Pradesh</td>
          <td><a target="_blank" href="tel:9536055743">9536055743</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Assam</td>
          <td><a target="_blank" href="tel:6913347770">6913347770</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Bihar</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Chhattisgarh</td>
          <td><a target="_blank" href="tel:077122-35091">077122-35091</a></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Goa</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>7</td>
          <td>Gujarat</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Haryana</td>
          <td><a target="_blank" href="tel:8558893911">8558893911</a></td>
        </tr>
        <tr>
          <td>9</td>
          <td>Himachal Pradesh</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>10</td>
          <td>Jharkhand</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>11</td>
          <td>Karnataka</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>12</td>
          <td>Kerala</td>
          <td><a target="_blank" href="tel:0471-2552056">0471-2552056</a></td>
        </tr>
        <tr>
          <td>13</td>
          <td>Madhya Pradesh</td>
          <td><a target="_blank" href="tel:0755-2527177">0755-2527177</a></td>
        </tr>
        <tr>
          <td>14</td>
          <td>Maharashtra</td>
          <td><a target="_blank" href="tel:020-26127394">020-26127394</a></td>
        </tr>
        <tr>
          <td>15</td>
          <td>Manipur</td>
          <td><a target="_blank" href="tel:3852411668">3852411668</a></td>
        </tr>
        <tr>
          <td>16</td>
          <td>Meghalaya</td>
          <td><a target="_blank" href="tel:9366090748">9366090748</a></td>
        </tr>
        <tr>
          <td>17</td>
          <td>Mizoram</td>
          <td><a target="_blank" href="tel:102">102</a></td>
        </tr>
        <tr>
          <td>18</td>
          <td>Nagaland</td>
          <td><a target="_blank" href="tel:7005539653">7005539653</a></td>
        </tr>
        <tr>
          <td>19</td>
          <td>Odisha</td>
          <td><a target="_blank" href="tel:9439994859">9439994859</a></td>
        </tr>
        <tr>
          <td>20</td>
          <td>Punjab</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>21</td>
          <td>Rajasthan</td>
          <td><a target="_blank" href="tel:0141-2225624">0141-2225624</a></td>
        </tr>
        <tr>
          <td>22</td>
          <td>Sikkim</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>23</td>
          <td>Tamil Nadu</td>
          <td><a target="_blank" href="tel:044-29510500">044-29510500</a></td>
        </tr>
        <tr>
          <td>24</td>
          <td>Telangana</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>25</td>
          <td>Tripura</td>
          <td><a target="_blank" href="tel:0381-2315879">0381-2315879</a></td>
        </tr>
        <tr>
          <td>26</td>
          <td>Uttarakhand</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>27</td>
          <td>Uttar Pradesh</td>
          <td><a target="_blank" href="tel:18001805145">18001805145</a></td>
        </tr>
        <tr>
          <td>28</td>
          <td>West Bengal</td>
          <td><a target="_blank" href="tel:3323412600">3323412600</a></td>
        </tr>
      </tbody>
    </table>
    <div style="margin-bottom:2.5em"></div>
    <table class="table table-striped" id="union_territories">
      <thead>
        <tr>
          <th style="width:10%">Sr.No</th>
          <th style="width:40%">Union Territory</th>
          <th style="width:50%">Helpline Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Andaman and Nicobar Islands</td>
          <td><a target="_blank" href="tel:03192-232102">03192-232102</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Chandigarh</td>
          <td><a target="_blank" href="tel:9779558282">9779558282</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Dadra and Nagar Haveli and Daman &amp; Diu</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Delhi</td>
          <td><a target="_blank" href="tel:011-22307145">011-22307145</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Jammu &amp; Kashmir</td>
          <td><a target="_blank" href="tel:1912520982">1912520982</a><span>  |  </span><a target="_blank"
              href="tel:0194-2440283">0194-2440283</a></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Ladakh</td>
          <td><a target="_blank" href="tel:1982256462">1982256462</a></td>
        </tr>
        <tr>
          <td>7</td>
          <td>Lakshadweep</td>
          <td><a target="_blank" href="tel:4896263742">4896263742</a></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Puducherry</td>
          <td><a target="_blank" href="tel:104">104</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
