<div class="content">
  <div id="dashboard" class="container">
    
    <div class="number-graph-wrapper">
      <div class="number-graph mr-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title ">
              <h6><b>CONFIRMED CASES</b></h6>
            </div>
          </div>
          <div class="card-body status-confirmed">
            <div class="cases-container">
              <h2 class="case">214</h2><span class="info">1% of total cases in Intensive Care</span>
            </div>
            <div id="lineChartContainer">
              <div id="undefined" class="recharts-responsive-container" style="width:100%;height:100%">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="number-graph mr-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h6><b>HOSPITALIZED CASES</b></h6>
            </div>
          </div>
          <div class="card-body status-hospitalized">
            <div class="cases-container">
              <h2 class="case">188</h2><span class="info">88% of total cases</span>
            </div>
            <div id="lineChartContainer">
              <div id="undefined" class="recharts-responsive-container" style="width:100%;height:100%">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="number-graph mr-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h6><b>CASES IN INTENSIVE CARE</b></h6>
            </div>
          </div>
          <div class="card-body status-icu">
            <div class="cases-container">
              <h2 class="case">2</h2><span class="info">1% of total cases</span>
            </div>
            <div id="lineChartContainer">
              <div id="undefined" class="recharts-responsive-container" style="width:100%;height:100%">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="number-graph mr-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h6><b>RECOVERED CASES</b></h6>
            </div>
          </div>
          <div class="card-body status-recovered">
            <div class="cases-container">
              <h2 class="case">20</h2><span class="info">9% of total cases</span>
            </div>
            <div id="lineChartContainer">
              <div id="undefined" class="recharts-responsive-container" style="width:100%;height:100%">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="number-graph mr-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h6><b>DEATHS</b></h6>
            </div>
          </div>
          <div class="card-body status-died">
            <div class="cases-container">
              <h2 class="case">4</h2><span class="info">2% of total cases</span>
            </div>
            <div id="lineChartContainer">
              <div id="undefined" class="recharts-responsive-container" style="width:100%;height:100%">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
