<div class="container">
  <div class="row" style="margin-bottom: 0px;">
    <div class="col-sm-12 col-lg-8" style="margin-top: 30px;">
      <h5>Coronavirus Outbreak in India Live</h5>
    </div>
    <div class="col-sm-12 col-lg-4" *ngIf=IndiaData style="margin-top: 10px; padding-bottom: 0px;">
      <div class="alert alert-success" role="alert">
        <strong>Last updated</strong> {{IndiaData.key_values[0].lastupdatedtime}}
      </div>
    </div>
  </div>
<div><app-news-ticker></app-news-ticker></div>

  <div class="row" style="margin-top: 5px;">
  
    <div class="col-sm-12 col-md-6 col-lg-3 ">
      <div class="card">
        <div class="card-header">
          <div class="card-title ">
            <h6>
              <b>CONFIRMED CASES</b>
            </h6>
          </div>
        </div>
        <div class="card-body status-confirmed" *ngIf=IndiaData>
          <div class="cases-container">
            <h2 class="case">{{statewise[0].confirmed}}</h2>
            <span class="info" style="color:red">+{{IndiaData.key_values[0].confirmeddelta}} Today</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 ">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h6>
              <b>RECOVERED CASES</b>
            </h6>
          </div>
        </div>
        <div class="card-body status-recovered" *ngIf=IndiaData>
          <div class="cases-container">
            <h2 class="case">{{statewise[0].recovered}}</h2>
            <span class="info"
              style="color: green;">{{statewise[0].recovered *100 / statewise[0].confirmed| number : '1.1-2'}}% of total
              cases</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 ">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h6>
              <b>DEATHS</b>
            </h6>
          </div>
        </div>
        <div class="card-body status-icu" *ngIf=IndiaData>
          <div class="cases-container">
            <h2 class="case">{{statewise[0].deaths}}</h2>
            <span class="info"
              style="color: darkred;">{{statewise[0].deaths *100 /statewise[0].confirmed| number : '1.1-2'}}% of total
              cases</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 ">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h6>
              <b>PEOPLE TESTED</b>
            </h6>
          </div>
        </div>
        <div class="card-body status-hospitalized" *ngIf=IndiaData>
          <div class="cases-container">
            <h2 class="case">{{IndiaData.tested[IndiaData.tested.length - 1].totalindividualstested}}</h2>
            <span class="info"
              style="color: orangered;">+{{IndiaData.tested[IndiaData.tested.length - 1].totalindividualstested - IndiaData.tested[IndiaData.tested.length - 2].totalindividualstested}}
              Today</span>
          </div>
        </div>
      </div>
    </div>
    <!--     <div class="col-sm-12 col-md-6 col-lg-3 ">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h6>
              <b>People Tested Positive</b>
            </h6>
          </div>
        </div>
        <div class="card-body status-icu">
          <div class="cases-container">
            <h2 class="case">{{IndiaData.tested[IndiaData.tested.length - 1].totalpositivecases}}</h2>
            <span
              class="info">{{IndiaData.tested[IndiaData.tested.length - 1].totalpositivecases*100 / IndiaData.tested[IndiaData.tested.length - 1].totalindividualstested |number : '1.1-2'}}%
              of people Tested</span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row" style="margin-top: 5px;">
    <div class="col-md-12 col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Daily Analysis of India</h6>
        </div>
        <div class="card-body">
          <app-dailyind></app-dailyind>
        </div>
      </div>
    </div>


    <div class="col-md-12 col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title h6">Top 10 states Confirmed vs Recovered</div>
        </div>

        <div class="card-body">
          <app-my-line-chart></app-my-line-chart>
        </div>

      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5px;">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <div class="card-title ">
            <h6>
              <b>Notes</b>

            </h6>
          </div>
        </div>

        <div class="card-body">
          <div class="cases-container">
            <ul>
              <li>Panic mode : OFF! ❌ESSENTIALS ARE ON! ✔️ </li>
              <li>Dont Hoard groceries and essentials. Please ensure that people who are in need don't face a shortage
                because of you!</li>
              <li>If you have symptoms and suspect you have coronavirus - reach out to your doctor or call 104. 📞 Get
                help.</li>
              <li>Lockdown means LOCKDOWN! Avoid going out unless absolutely necessary. Stay safe!</li>
              <li>If you have any queries, Reach out to your district administration or doctors! </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5px;">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Nationality of people affected in India</h6>
      </div>
      <div class="card-body">
        <app-nationality-pie></app-nationality-pie>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Age and Gender Distribution</h6>
      </div>
      <div class="card-body">
        <app-age-gender-india></app-age-gender-india>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Gender</h6>
      </div>
      <div class="card-body">
        <app-gender-india-chart></app-gender-india-chart>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding:20px;" *ngIf="statewise">
  <h6>{{affectedStateCount}} STATES/UTS AFFECTED (Click on states to see detailed city stats)</h6>
  <div class="table-responsive">
    
    <table class="table table-hover">
      <thead class="row-highlight">
        <tr>
          <th>STATE/UT</th>
          <th>CONFIRMED</th>
          <th>ACTIVE</th>
          <th>RECOVERED</th>
          <th>DEATHS</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of statewise">
        <tr (click)="data.expanded = !data.expanded">
          <td *ngIf="data.state !== 'Total' && data.confirmed !== '0'">
            {{ data.expanded ? '&ndash;' : '+'}}{{data.state}}</td>
          <td *ngIf="data.state !== 'Total' && data.confirmed !== '0'">{{data.confirmed}}</td>
          <td *ngIf="data.state !== 'Total' && data.confirmed !== '0'">{{data.active}}</td>
          <td *ngIf="data.state !== 'Total' && data.confirmed !== '0'">{{data.recovered}}</td>
          <td *ngIf="data.state !== 'Total' && data.confirmed !== '0'">{{data.deaths}}</td>
        </tr>
        <div *ngIf="data.expanded">
          <th class="row-highlight">DISTRICT</th>
          <th class="row-highlight">CONFIRMED</th>
          <tr *ngFor="let data1 of GetDistrict(data.state)">
            <td>{{data1}}</td>
            <td>{{districtWise[data.state].districtData[data1].confirmed}}</td>
          </tr>
        </div>
      </tbody>

      <tbody>
        <tr *ngFor="let data of statewise" class="row-highlight">
          <td *ngIf="data.state === 'Total'">{{data.state}}</td>
          <td *ngIf="data.state === 'Total'">{{data.confirmed}}</td>
          <td *ngIf="data.state === 'Total'">{{data.active}}</td>
          <td *ngIf="data.state === 'Total'">{{data.recovered}}</td>
          <td *ngIf="data.state === 'Total'">{{data.deaths}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
