@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
.row-highlight {
  background-color: #d3d3dd;
}

h12 {
font-size: smaller;
}
#map {
  height: 500px; 
  min-width: 310px; 
  max-width: 800px; 
  margin: 0 auto; 
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #f3f8fa;
}

 td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 

} 
.button {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border: 0;
  text-transform: uppercase;
  background: rgb(255, 186, 186);
  color: red;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
  transition: background 0.2s ease-in-out;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  outline: none;
  font-size: 0.75rem;
  text-decoration: none;
}

table {
  align-self: center;
}
table thead {
  text-align: left;
  font-size: 0.75rem;
}
table thead th {
  padding: 0.5rem;
}


table tbody {
  max-width: 10rem;
}


table tbody td {

  font-size: 0.9rem;

}

table tbody td a {
  height: 1px;
}




@media (max-width: 769px) {
  table td {
    max-width: 6.75rem;
 }
}