<div #mapContainer id="map"></div>
<ng-template #content let-modal>
<div id="myModal" class="modal" tabindex="-1" aria-hidden="true" data-backdrop="false"
  style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Choose a pincode from the following list</h3>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="sel1">Pincode List</label>
          <select class="form-control" id="sel1" onchange="GetSelectedTextValue(this)">
          </select>
        </div>
      </div>

    </div>
  </div>
</div>
</ng-template>
