<div class="container">
  <div class="row" style="margin-top: 20px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Mumbai Hotspots
        </div>
        <div #mapContainer id="map"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-12">
        <select style="margin: 10px;" class="browser-default custom-select" (change)="onSelectPincode($event)"
          *ngIf="pinlatlong">
          <option *ngFor="let option of pinlatlong">{{option[0]}}</option>
        </select>
      </div>
      <div class="col-6 col-sm-12">
        <button style="margin: 10px;" type="button" class="btn-sm btn-light" (click)="getLocation($event)">Allow
          Location</button>
      </div>

      <table class="table table-responsive-sm table-responsive-md" id="myTable">
        <thead>
          <tr>
            <th>Address</th>
            <th>Distance</th>
          </tr>
          <tr *ngFor="let item of tableobj | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{item.address}}</td>
            <td>{{item.distance | number : '1.1-2'}} km</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div style="margin: 20px" *ngIf="tableobj">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="tableobj.length" [maxSize]="5">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
